<%- include('partials/header') %>

<%- include('partials/nav') %>


<div>
    <form method="POST">
        <select class="w-40" name="category_id" required>
            <% for (const category of categories){%>
            <option value="<%= category.id %>" style="background-color: <%= category.color %>" ><%= category.name %></option>
            <%}%>
        </select>
            
        <input class="color" type="color" name="color">

        <button class="w-20 bg-slate-300 rounded-md hover:bg-slate-200 hover:bg-slate-200 hover:text-red-700 shadow-lg shadow-slate-500/30" type="submit">Modifier</button>
    </form>
</div>

</body>
</html>