<%- include('partials/header') %>

<%- include('partials/nav') %>




<div>
    <br>
    <h1 style="font-size: 2em;">Ajouter une catégorie</h1>
    <form action="/admin/addcategory" method="POST">
        <label for="name">Nom de la catégorie</label>
        <input class="" type="text" name="name">
        <label for="category_id">Opération</label>
        <select class="w-40" name="operation_id" required>
            <option value="1">Débit</option>
            <option value="2">Crédit</option>
            <option value="3">Epargne</option>
        </select>
        <input class="color" type="color" name="color">

        <button class="w-20 bg-slate-300 rounded-md hover:bg-slate-200 hover:bg-slate-200 hover:text-red-700 shadow-lg shadow-slate-500/30" type="submit">Ajouter</button>
    </form>
</div>

<br>
<br>
<br>
<h1>Liste des catégories</h1>
    <% for (const operation of operations){%>
       <h2 style="font-size: 2em;"><%= operation.name %></h2>
        <div>
            <%for (const category of operation.categories) {%>
                <br>
                <p style="background-color: <%= category.color %>;" href="/admin/categorymodify/<%= category.id %>"><%= category.name %></p>
                <a href="/admin/categorymodify/<%= category.id %>">Modifier</a>
                <a href="/admin/categorydelete/<%= category.id %>">Supprimer</a>
                <br>
            <%}%>
        </div>
    
        <%}%>



</body>
</html>