<%- include('partials/header') %>

<%- include('partials/nav') %>

    <h1>Bienvenue sur ta gestion financière</h1>

    <% if (movements){%>
        <% for (const movement of movements) {%>
        <p><%= movement.operation.name %>, <%= movement.category.name %>, <%= movement.amount %>€ </p>
        <%}%>
      <%}%>

      <%if(categories){%>
        <% for (const category of categories){%>
        <form action="/finance/add/<%= category.id %>" method="post">
            <div>
                <p><%= category.name %></p>
            </div>
            <div>
                <select name="type" required>
                    <option value="Ponctuelle">Dépense ponctuelle</option>
                    <option value="Mensuelle">Dépense mensuelle</option>
                </select>
            </div>
            <div>
                <label for="amount">Montant</label>
                <input type="number" name="amount" placeholder="Montant" required>
            </div>
            <div>
                <label for="category_id">Catégorie</label>
                    <select name="category_id" required>
                        <%for(const catName of category.categories){%>
                        <option value="<%= catName.id %>"><%= catName.name %></option>
                        <%}%>
                    </select>
            </div>
            
            <button type="submit">Ajouter</button>
        </form>
        <%}%>
    <%}%>

  
  
    
</body>
</html>