<%- include('partials/header') %>

<%- include('partials/nav') %>

<h1 id="banane" class="text-2xl font-bold text-zinc-700">Ajouter des mouvements qui se répètent chaque mois</h1>

      <div class="container-all w-3/5">
              <%if(categories){%>
                <% for (const category of categories){%>
                <form class="flex py-2 gap-x-2 border-2 m-1 px-4 rounded-lg bg-gray-100" action="/finance/add/<%= category.id %>" method="post">
                    <div class="w-16">
                        <p><%= category.name %></p>
                    </div>
                    <div>
                        <input type="hidden" name="type" value="Mensuelle">
                        
                    </div>
                    <div>
                        <input class="inp" type="number" name="amount" placeholder="Montant" min="0" required>
                    </div>
                    <div>
                        <input class="inp" type="text" name="comment" placeholder="Commentaire" maxlength="20">
                    </div>
                    <div>
                            <select class="w-40" name="category_id" required>
                                <%for(const catName of category.categories){%>
                                <option value="<%= catName.id %>" style="background-color: <%= catName.color %>"><%= catName.name %></option>
                                <%}%>
                            </select>
                    </div>
              
                    <button class="button-all" type="submit">Ajouter</button>
                </form>
                <%}%>
                  <%}%>
      </div>

    <section class="flex flex-col gap-6 text-center m-4 p-16 rounded-lg bg-slate-200 box-border w-4/5">
      <% for (const operation of movements) {%>
        <% if (operation.categories.length > 0){%>
          <table class="w-full" <%= operation.name %>">
            <thead>
              <tr class="w-full">
                <th class=" w-3/5" colspan="3"><p class="bg-blue-200 w-full h-12 rounded-tl-lg flex justify-center items-center"><%= operation.name %>s mensuels</p></th>
                
              </tr>
            </thead>
            <tbody class="items">
              <tr class="bg-slate-300">
                <td class="w-2/12 bg-blue-600/10">Catégorie</td>
                <td class="w-4/12">Mouvements</td>
                <td class="w-2/12 bg-blue-600/10">Total</td>
               
              </tr>
              <% for (const category of operation.categories) {%>
                <tr style="background-color: <%= category.color %>">
                  <td class="bg-blue-600/10"><%= category.name %></td>
                  <td class=""> 
                    <table class="items w-full">
                      <tr class=" w-full">
                        <td class="flex justify-center" colspan="3"><img src="/img/icons/add.png" alt="plus"></td>
                      </tr>
                      <% for (const movement of category.monthlymodels) {%>
                      <tr class="flex justify-start">
                        <td class="w-2/12 flex ml-16">
                          <a class="p-10" href="/edit/<%= movement.id %>"><img class="w-6" src="/img/icons/edit.svg" alt="modifier"></a>
                          <a href="/delete/<%= movement.id %>"><img  class="w-6" src="/img/icons/delete.svg" alt="supprimer"></a>
                        </td>
                        <td class="w-4/12"><%= movement.comment %></td>
                        <td class="w-3/12"><%= movement.amount %>€</td>
                      </tr>
                    <%}%> 
                    </table>
                    <td class="bg-blue-600/10"><% let total = 0; %>
                  <%for (const anAmount of category.monthlymodels) {%>
                    <% total = (total + anAmount.amount) %>
                  <%}%>
                  <%= total %>
                  </td>
                 
                </tr>
              <%}%>
              
              
          
               
            </tbody>
          </table>
          <%}%>
          <%}%>
    </section>

</body>
</html>